<div class="about-us">
  <div class="container">
    <div class="text-center">
      <div>
        <h3>What People Are</h3>
      </div>
      <div>
        <h2>Saying About Us</h2>
      </div>
      <div>
        <div class="col-md-3">
          <%= image_tag("home_page/man4.jpg", class: "img-responsive center img-circle") %>
          <h3>Sonny Sina</h3>
          <p>Gohub is an excellent web application to ........ more</p>
        </div>
      </div>

      <div>
        <div class="col-md-3">
          <%= image_tag("home_page/man2.jpg", class: "img-responsive center img-circle") %>
          <h3>John Doe</h3>
          <p>Gohub is an excellent web application to ........ more</p>
        </div>
      </div>

      <div>
        <div class="col-md-3">
          <%= image_tag("home_page/man3.jpg", class: "img-responsive img-circle") %>
          <h3>Kuddus Miah</h3>
          <p>Gohub is an excellent web application to ........ more</p>
        </div>
      </div>

      <div>
        <div class="col-md-3">
          <%= image_tag("home_page/man1.jpg", class: "img-responsive img-circle") %>
          <h3>Joshim Uddin</h3>
          <p>Gohub is an excellent web application to ........ more</p>
        </div>
      </div>
    </div>
  </div>
</div>
