.shop-information {
  min-height: 100%;

  #shop-information-form {
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 1%;
  }

  .shop-zone {
    max-height: 400px;
    overflow-y: scroll;

    .added-shops {
      width: 100%;
      min-height: auto;
    }
  }

  .added-shop {
    background-color: #e7e7e7;
    padding: 3%;
    margin-bottom: 1%;

    .added-shop-name {
      font-size: 16px;
    }

    .added-shop-address-line,
    .added-shop-zipcode,
    .added-shop-city,
    .added-shop-country,
    .added-shop-phone-number {
      font-weight: normal;
    }

    .display-side {
      display: inline;
    }
  }
}